*,
::after,
::before {
  box-sizing: border-box;
  
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  font: 400 1.8vh/1.5 "Poppins", sans-serif;
  /* overflow-x: hidden; */
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

:root {
  --bordercolor: #ebeff2;
  --secondcolor: #2ed47a;
  --spancolor: #109cf1;
  --fWeight500: 500;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

/* grid */
.wrapper {
  display: grid;
  grid-template-columns: 256px calc(100% - 256px);
  grid-template-rows: 60px calc(100% - 60px);
  gap: 0px 0px;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "sidebar search "
    "sidebar main";
}

.search {
  grid-area: search;
  border-bottom: 1px solid var(--bordercolor);
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
  box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
}

/* search style */
.search-form {
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0 36px;
  position: relative;
  border-bottom: 1px solid var(--bordercolor);
}

label {
  display: block;
  width: 100%;
}

.search-input {
  border: none;
  flex-grow: 2;
  width: 100%;
  height: 60px;
  padding-left: 32px;
}

.search-input::placeholder {
  color: #90a0b7;
  font: 400 12px/1.4 "Poppins", sans-serif;
}

.search-input:focus-visible {
  outline: none;
}
.contact h6{
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 63, 145);
}
.contact button{
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.avail{
  color: #979797;
}
.numm{
  color: black;
}
.upgrade{
  border: 1px solid #d6d6d6;
  color: rgb(0, 63, 145);
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
}

button[type="submit"] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 36px;
  height: 20px;
  width: 20px;
  padding: 0;
  color: #c2cfe0;
}

.search-form>svg {
  cursor: pointer;
}
.notify{
  font-size: 20px;
}

/* sidebar style */

.sidebar_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 1.3vw;
}

.person {
  margin: 24px 24px 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileImg {
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 46px;
}

.description {
  margin-left: 16px;
  display: inline-block;
}

.description .descriptionName {
  font-size: 1.8vh;
  font-weight: var(--fWeight500);
}

.description .descriptionMail {
  font-size: 1.4vh;
  color: #90a0b7;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.nav-item {
  margin-bottom: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #334d6e;
}

.side-title{
  color: rgb(0, 63, 145);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.active{
  color: rgb(71, 250, 250);
}


/* .nav-item:not(:first-child)>a {
  text-decoration: none;
  color: #334d6e;
}

.nav-item:first-child>a {
  text-decoration: none;
  color: var(--spancolor);
} */



.nav-item>a:hover {
  color: var(--spancolor);
}

.menu-icon {
  display: flex;
  align-items: center;
}

.nav-label {
  margin-left: 14px;
  font-weight: var(--fWeight500);
}

.nav-item:last-child {
  padding-top: 24px;
  border-top: 1px solid var(--bordercolor);
}



/* Media Queries*/


@media only screen and (max-width: 500px) {
  .wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "search"
      "main";
    grid-template-columns: 4fr;
    grid-template-rows: 60px 1fr;
  }

  .search {
    border: none;
  }

  .search-form {
    border: none;
  }
  .sidebar {
    display: none;
  }

  .icon {
    left: 60%;
  }
  .upgrade{
    margin: 25px 0;
    float: left;
  }
  
}